@using wikiasp.Models
@model wikiasp.Models.Wikias

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Add", "Admin")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Wikias</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Element Body</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <textarea cols="50" rows="20" name="Body" id="ta-body" class="form-control"></textarea>
                        @Html.ValidationMessageFor(model => model.IndexElementId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        <div><a style="display: inline" href="#" onclick="insertText('==Header==')" class="btn btn-primary">Add Header H2</a> ==Header==  ==>  <h2 style="display: inline">Header</h2></div><br />
                        <div><a style="display: inline" href="#" onclick="insertText('===Header===')" class="btn btn-primary">Add Header H3</a> ===Header===  ==>  <h3 style="display: inline">Header</h3></div><br />
                        <div><a style="display: inline" href="#" onclick="insertText('====Header====')" class="btn btn-primary">Add Header H4</a> ====Header====  ==>  <h4 style="display: inline">Header</h4></div><br />
                        <div><a style="display: inline" href="#" onclick="insertText('=====Header=====')" class="btn btn-primary">Add Header H5</a> =====Header=====  ==>  <h5 style="display: inline">Header</h5></div><br />
                        <div><a style="display: inline" href="#" onclick="insertText('[[http://google.com||Google]]')" class="btn btn-primary">Add A Link</a> [[http://google.com||Google]]  ==>  <a href="http://google.com">Google</a></div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function insertText(text) {
        var txtarea = document.getElementById("ta-body");
        var scrollPos = txtarea.scrollTop;
        var caretPos = txtarea.selectionStart;

        var front = (txtarea.value).substring(0, caretPos);
        var back = (txtarea.value).substring(txtarea.selectionEnd, txtarea.value.length);
        txtarea.value = front + text + back;
        caretPos = caretPos + text.length;
        txtarea.selectionStart = caretPos;
        txtarea.selectionEnd = caretPos;
        txtarea.focus();
        txtarea.scrollTop = scrollPos;
    }
</script>