@using wikiasp.Models
@model wikiasp.Models.Element

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Creating a new element</h2>

@using (Html.BeginForm("Add", "Element")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>With the "@ViewBag.Parent.Title" as the parent element</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <textarea cols="50" rows="20" name="Body" class="form-control" id="ta-body"></textarea>
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        <div><a style="display: inline" href="#" onclick="insertText('==Header==')" class="btn btn-primary">Add Header H2</a> ==Header==  ==>  <h2 style="display: inline">Header</h2></div><br />
                        <div><a style="display: inline" href="#" onclick="insertText('===Header===')" class="btn btn-primary">Add Header H3</a> ===Header===  ==>  <h3 style="display: inline">Header</h3></div><br />
                        <div><a style="display: inline" href="#" onclick="insertText('====Header====')" class="btn btn-primary">Add Header H4</a> ====Header====  ==>  <h4 style="display: inline">Header</h4></div><br />
                        <div><a style="display: inline" href="#" onclick="insertText('=====Header=====')" class="btn btn-primary">Add Header H5</a> =====Header=====  ==>  <h5 style="display: inline">Header</h5></div><br />
                        <div><a style="display: inline" href="#" onclick="insertText('[[http://google.com||Google]]')" class="btn btn-primary">Add A Link</a> [[http://google.com||Google]]  ==>  <a href="http://google.com">Google</a></div><br />
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle"
                                    type="button" id="ddm" data-toggle="dropdown">
                                Add A Link To Element
                            </button>
                            <div class="dropdown-menu">
                                <ul>
                                    @{
                                        var db = new ElementModels();
                                        int id = ViewBag.Parent.WikiaId;
                                        List<Element> list = db.Element.Where(x => x.WikiaId == id).ToList();
                                        foreach (Element e in list)
                                        {
                                            <li><a class="dropdown-item" href="#" onclick="insertText('[[/wiki/show/@e.Id||@e.Title]]')">@e.Title</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="parentId" value="@ViewBag.Parent.Id" />
        <input type="hidden" name="wikiaId" value="@ViewBag.Parent.WikiaId" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
</div>


<script>
    function insertText(text) {
        var txtarea = document.getElementById("ta-body");
        if (!txtarea) { return; }

        var scrollPos = txtarea.scrollTop;
        var strPos = 0;
        var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ?
			"ff" : (document.selection ? "ie" : false));
        if (br == "ie") {
            txtarea.focus();
            var range = document.selection.createRange();
            range.moveStart('character', -txtarea.value.length);
            strPos = range.text.length;
        } else if (br == "ff") {
            strPos = txtarea.selectionStart;
        }

        var front = (txtarea.value).substring(0, strPos);
        var back = (txtarea.value).substring(strPos, txtarea.value.length);
        txtarea.value = front + text + back;
        strPos = strPos + text.length;
        if (br == "ie") {
            txtarea.focus();
            var ieRange = document.selection.createRange();
            ieRange.moveStart('character', -txtarea.value.length);
            ieRange.moveStart('character', strPos);
            ieRange.moveEnd('character', 0);
            ieRange.select();
        } else if (br == "ff") {
            txtarea.selectionStart = strPos;
            txtarea.selectionEnd = strPos;
            txtarea.focus();
        }

        txtarea.scrollTop = scrollPos;
    }
</script>